body{
  font-family: Lato, sans-serif;
  font-weight: 600;
}

p {
  font-size: 20px;
  font-weight: lighter;
}

.navbar a {
  color:#3a0f63;
}
.text-div{
  margin: 35px;
}
.navbar {
  background-color: rgba(255,255,255,0.95);
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.navbar-brand{
  padding: 0;
}
#logo{
  width: 50px;
  height: 50px;
}
.header {
  align-items: center;
  display: flex;
  height: 600px;
  width: 100%;
  text-align: center;
  position: relative;
  background: url('img/hero-image.jpg') no-repeat top center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.content {
  width: 100%;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 80px 120px;
  }
}

.navbar {
  background-color:rgba(255,255,255,0.95);
	border-bottom-width:0;
  border-color:#5B2062;
  color: black;
  font-weight: 600;
}

a, a:hover {
  color: #5B2062;
}

.navbar .nav > li > a:active {
  display: block;
  color: black;
  text-decoration: none;
}


.navbar-header .navbar-toggle .icon-bar {
  background-color: #5B2062;
}

.team-column {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media (max-width: 650px) {
    .team-column {
        width: 100%;
        display: block;
    }
}
.team-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.team-container {
    padding: 0 16px;
}
.team-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

#about {
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
}

#connect {
  color: #fff;
  padding-top: 50px;
  background-color: #6816b3;
}
.event-color{
    background-color: #6816b3;
      color: #fff;
}
.connect-content {
  margin-top: 50px;
  margin-bottom: 100px;
}
.connect-content a{
  color: #fff;
}

#resources {
  padding-top: 50px;
}
#accordion {
  margin-top: 50px;
}
.panel{
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.panel-title-link:hover .caret-large {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #5B2062;
}
.panel-title {
  background-color: #fff;
  border: none;
}
.panel-default>.panel-heading{
  background-color: #fff;
  border: none !important;
}

#events {
  padding-top: 50px;
}

#flyer {
  max-height: 400px;
  margin: auto;
  display: block;
}
.thumbnail {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
}
.thumbnail img {
  height: 150px;
}
.footer {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
